<main role="main" class="container">
  <%= form_for(family_member) do |f| %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="family_member[first_name]" placeholder="First Name" value="<%= family_member.first_name %>" required>
      </div>
      <div class="form-group col-md-6">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="family_member[last_name]" placeholder="Last Name" value="<%= family_member.last_name %>" required>
      </div>
      <div class="form-group col-md-6">
        <label for="date_of_birth">Date of Birth</label>
        <input type="date" class="form-control" id="date_of_birth" name="family_member[date_of_birth]" value="<%= family_member.date_of_birth&.strftime("%Y-%m-%d") %>">
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="contact_info[email]" placeholder="your@email.com" value="<%= contact_info&.email %>">
      </div>
      <div class="form-group col-md-6">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" name="contact_info[phone_number]" placeholder="123-456-7890" value="<%= contact_info&.phone_number %>">
      </div>
    </div>
    <div class="form-group">
      <label for="street1">Address</label>
      <input type="text" class="form-control" id="street1" name="contact_info[street1]" placeholder="1234 Main St" value="<%= contact_info&.street1 %>">
    </div>
    <div class="form-group">
      <label for="street2">Address 2</label>
      <input type="text" class="form-control" id="street2" name="contact_info[street2]" placeholder="Apartment, studio, or floor" value="<%= contact_info&.street2 %>">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="contact_info[city]" placeholder="City" value="<%= contact_info&.city %>">
      </div>
      <div class="form-group col-md-4">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="contact_info[state]" placeholder="State" value="<%= contact_info&.state %>">
      </div>
      <div class="form-group col-md-2">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" id="zip" name="contact_info[zipcode]" placeholder="12345" value="<%= contact_info&.zipcode %>">
      </div>
    </div>

    <% if family_member.new_record? %>
      <button type="submit" class="btn btn-primary" data-disable-with="Creating">Create</button>
    <% else %>
      <button type="submit" class="btn btn-primary" data-disable-with="Updating">Update</button>
    <% end %>

  <% end %>
</main>
