<%
  fm = family_member
  ci = family_member.contact_info
%>

<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title"><%= fm.first_name %> <%= fm.last_name %></h5>

    <% if !ci.email.blank? %><div class="card-subtitle mb-2 family-member-email"><%= ci.email %></div><% end %>
    <% if !ci.phone_number.blank? %><div class="card-subtitle mb-2"><small>Phone Number: </small><%= ci.phone_number %></div><% end %>
    <% if fm.date_of_birth %><div class="card-subtitle mb-2"><small>Date of Birth: </small><%= fm.date_of_birth&.strftime("%m/%d/%Y") %> (age: <small class="card-text"><%= fm.age %></small>)</div><% end %>
    <% if !ci.street1.blank? || !ci.street2.blank? || !ci.city.blank? || !ci.state.blank? || !ci.zipcode.blank? %><div class="card-subtitle mb-2"><small>Address:</small></div>
      <div class="card-subtitle mb-2"><%= ci&.street1 %></div>
      <div class="card-subtitle mb-2"><%= ci&.street2 %></div>
      <div class="card-subtitle mb-2"><%= ci&.city %>, <%= ci&.state %>, <%= ci&.zipcode %></div>
    <% end %>

    <% if current_user.admin? %>
      <a href="<%= edit_family_member_path(fm) %>" class="card-link">Edit</a>
    <% end %>
  </div>
</div>

<p></p>
