<!DOCTYPE html>
<html>
  <head>
    <title>Higgins Clan Directory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <% if user_signed_in? %>
        <a class="navbar-brand" href="<%= root_path %>">Home</a>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="<%= calendar_path %>">Calendar</a>
            </li>
          </ul>

            <form class="form-inline my-2 my-lg-0 offset-4" style="margin: auto;">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

          <div class="navbar-text pull-center">
            Logged in as <strong><%= current_user.email %></strong>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link ml-4' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link mr-2' %>
          </div>
        </div>
      <% end %>
    </nav>

    <!-- flash message(s) -->
    <% [%w(success success), %w(notice info), %w(alert warning), %w(error danger)].each do |flash_type_and_style| %>
      <%= render partial: 'layouts/flash_message', object: (msg=flash[flash_type_and_style[0].to_sym]), locals: { alert_style: flash_type_and_style[1] } %>
    <% end %>

    <main role="main" class="container">
      <%= yield %>
    </main>
  </body>
</html>
